<p-toast></p-toast>
<div class="p-grid">
    <div class="p-col-12 header">
        <img src="assets/logo/rotarylogo.jpg" alt="trellogo" class="logo-harder" (click)="home()">
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 ">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <p-fileUpload mode="basic" accept=".xlsx, .xls" [maxFileSize]="1000000" label="Import"
                    chooseLabel="Import" class="p-mr-2 p-d-inline-block" (change)="onFileChange($event)"></p-fileUpload>
            </ng-template>
        </p-toolbar>
    </div>
</div>
<table class="sjs-table">
    <tbody>
  <tr *ngFor="let row of data">
        <td *ngFor="let val of row">
            {{val}}
        </td>
    </tr>
</tbody>
</table>