<p-toast></p-toast>
<div class="p-grid">
    <div class="p-col-12 header">
        <img src="assets/logo/rotarylogo.jpg" alt="trellogo" class="logo-harder" (click)="home()">
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 ">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <input type="file" (change)="onFileChange($event)" multiple="false">
            </ng-template>
        </p-toolbar>
        <p-table [value]="data">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let columns of column">
                        {{columns}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-val let-rowIndex="rowIndex">
                <tr *ngIf="rowIndex > 0">
                    <td *ngFor="let item of val">
                        {{item}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>