.bg {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 50px;
  }

  .header {
    padding: 30px;
    text-align: center;
    background: rgb(0, 132, 255);
  }

  .btn{
    padding: 80px 120px;
    border-radius: 4px;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px;
  }

  .button1 {
    background-color: #007BFF; 
    color: white; 
    border: none;
  }
  
  .button1:hover {
    background-color: #006cdf;
    color: white;
  }

  .button2 {
    background-color: #17A2BB; 
    color: white; 
    border: none;
  }
  
  .button2:hover {
    background-color: #1594aa;
    color: white;
  }

  .button3 {
    background-color: #FFC107; 
    color: white; 
    border: none;
  }
  
  .button3:hover {
    background-color: #ebb30b;
    color: white;
  }