<div class="p-grid">
    <div class="p-col-12 header">
        <img src="assets/logo/rotarylogo.jpg" alt="trellogo" class="logo-harder">
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-2 p-xl-3"></div>
    <div class="p-col-12 p-md-12 p-lg-8 p-xl-6 bg-allbox">
        <div class="center">
            <h1>HR PROGRAM</h1>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4">
                <div class="box1" (click)="exportform()">
                    <i class="pi pi-file icon-center" style="font-size: 2rem;">Export</i>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 ">
                <div class="box2" (click)="addemployee()">
                    <i class="pi pi-user-plus icon-center" style="font-size: 2rem">Add Emp</i>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 ">
                <div class="box3">
                    <i class="pi pi-desktop icon-center" style="font-size: 2rem">Add Code</i>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-12 p-lg-2 p-xl-3"></div>
</div>