<div class="p-grid">
    <div class="p-col-12 header">
        <img src="assets/logo/rotarylogo.jpg" alt="trellogo" class="logo-harder">
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 ">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteSelectedProducts()"
                    [disabled]="!selectedProducts || !selectedProducts.length"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="products" [rows]="10" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="ID_EMP">Employee ID <p-sortIcon field="ID_EMP"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Name">Name <p-sortIcon field="Name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Surname">Surname <p-sortIcon field="Surname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="DEPT">Department <p-sortIcon field="DEPT"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Gender">Gender <p-sortIcon field="Gendery"></p-sortIcon>
                    </th>
                    <th pSortableColumn="OT">OT <p-sortIcon field="OT"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


























<!-- <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-2 p-xl-3">
        </div>
        <div class="p-col-12 p-md-12 p-lg-8 p-xl-6 bg">
        </div>
        <div class="p-col-12 p-md-12 p-lg-2 p-xl-3">
            <button (click)="listemp()" pButton pRipple type="button" label="Summit" icon="pi pi-check" iconPos="right"
                class="p-button-success "></button>
            <p-table [value]="dataemp" [columns]="cols" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="item">
                        <td>{{rowIndex+1}}</td>
                        <td>{{item.ID_EMP}}</td>
                        <td>{{item.DEPT}}</td>
                        <td>{{item.Gender}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Surname}}</td>
                        <td>{{item.OT}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div> -->