<p-toast></p-toast>
<div class="p-grid">
    <div class="p-col-12 header">
        <img src="assets/logo/rotarylogo.jpg" alt="trellogo" class="logo-harder">
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 ">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteSelectedProducts()"
                    [disabled]="!selectedProducts || !selectedProducts.length"></button>
            </ng-template>
        </p-toolbar>
        <p-table *ngIf="dataemp && dataemp.length > 0" #dt [value]="dataemp" [columns]="cols" [rows]="20"
            [paginator]="true" [globalFilterFields]="['ID_EMP','Name','Surname','DEPT','Gender','OT']"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="ID_EMP"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Manage Employee</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem">
                        <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                    </th>
                    <th pSortableColumn="ID_EMP">Employee ID <p-sortIcon field="ID_EMP"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Name">Name <p-sortIcon field="Name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Surname">Surname <p-sortIcon field="Surname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="DEPT">Department <p-sortIcon field="DEPT"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Gender">Gender <p-sortIcon field="Gendery"></p-sortIcon>
                    </th>
                    <th pSortableColumn="OT">OT <p-sortIcon field="OT"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-columns="columns">
                <tr [pSelectableRow]="item">
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td>{{item.ID_EMP}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Surname}}</td>
                    <td>{{item.DEPT}}</td>
                    <td>{{item.Gender}}</td>
                    <td>{{item.OT}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{dataemp ? dataemp.length : 0 }} People.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>


    <p-dialog [(visible)]="employeeDialog" [style]="{width: '450px'}" header="Employee Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="emp_id">ID Employee</label>
                <input type="text" pInputText id="emp_id" [(ngModel)]="emp_id" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !emp_id">ID is required.</small>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="name">Firstname</label>
                    <input type="text" pInputText id="name" [(ngModel)]="name" />
                </div>
                <div class="p-field p-col">
                    <label for="lastname">Lastname</label>
                    <input type="text" pInputText id="lastname" [(ngModel)]="lastname" />
                </div>
            </div>
            <div class="p-field">
                <label for="department">Department</label>
                <p-dropdown inputId="department" [options]="dept" [(ngModel)]="selectedDept" placeholder="Select"
                    optionLabel="name"></p-dropdown>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Gender</label>
                <div class="p-formgrid p-grid">
                    <div class="p-field-radiobutton p-col-4">
                        <p-radioButton id="gender1" name="gender" value="M" [(ngModel)]="radioButtonGender">
                        </p-radioButton>
                        <label for="gender1">Male</label>
                    </div>
                    <div class="p-field-radiobutton p-col-4">
                        <p-radioButton id="gender2" name="gender" value="F" [(ngModel)]="radioButtonGender">
                        </p-radioButton>
                        <label for="gender2">Female</label>
                    </div>
                </div>
            </div>
            <div class="p-field">
                <label class="p-mb-3">OT</label>
                <div class="p-formgrid p-grid">
                    <div class="p-field-radiobutton p-col-4">
                        <p-radioButton id="OT1" name="OT" value="Allow" [(ngModel)]="radioButtonOT"></p-radioButton>
                        <label for="OT1">Allow</label>
                    </div>
                    <div class="p-field-radiobutton p-col-4">
                        <p-radioButton id="OT2" name="OT" value="Full" [(ngModel)]="radioButtonOT"></p-radioButton>
                        <label for="OT2">Full</label>
                    </div>
                    <div class="p-field-radiobutton p-col-4">
                        <p-radioButton id="OT3" name="OT" value="No" [(ngModel)]="radioButtonOT"></p-radioButton>
                        <label for="OT3">No</label>
                    </div>
                </div>
            </div>

        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="addEmployee()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="EditemployeeDialog" [style]="{width: '450px'}" header="Employee Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="emp_id">ID Employee</label>
            <input type="text" pInputText id="emp_id" [(ngModel)]="emp_id" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !emp_id">ID is required.</small>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name">Firstname</label>
                <input type="text" pInputText id="name" [(ngModel)]="name" />
            </div>
            <div class="p-field p-col">
                <label for="lastname">Lastname</label>
                <input type="text" pInputText id="lastname" [(ngModel)]="lastname" />
            </div>
        </div>
        <div class="p-field">
            <label for="department">Department</label>
            <p-dropdown inputId="department" [options]="dept" [(ngModel)]="selectedDept" placeholder="Select"
                optionLabel="name"></p-dropdown>
        </div>
        <div class="p-field">
            <label class="p-mb-3">Gender</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-4">
                    <p-radioButton id="gender1" name="gender" value="M" [(ngModel)]="radioButtonGender">
                    </p-radioButton>
                    <label for="gender1">Male</label>
                </div>
                <div class="p-field-radiobutton p-col-4">
                    <p-radioButton id="gender2" name="gender" value="F" [(ngModel)]="radioButtonGender">
                    </p-radioButton>
                    <label for="gender2">Female</label>
                </div>
            </div>
        </div>
        <div class="p-field">
            <label class="p-mb-3">OT</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-4">
                    <p-radioButton id="OT1" name="OT" value="Allow" [(ngModel)]="radioButtonOT"></p-radioButton>
                    <label for="OT1">Allow</label>
                </div>
                <div class="p-field-radiobutton p-col-4">
                    <p-radioButton id="OT2" name="OT" value="Full" [(ngModel)]="radioButtonOT"></p-radioButton>
                    <label for="OT2">Full</label>
                </div>
                <div class="p-field-radiobutton p-col-4">
                    <p-radioButton id="OT3" name="OT" value="No" [(ngModel)]="radioButtonOT"></p-radioButton>
                    <label for="OT3">No</label>
                </div>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="addEmployee()"></button>
    </ng-template>
</p-dialog>
